/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.margin{
    margin: 2.5%;
}
.padding-md{
    padding:5%;
}
.padding{
    padding:2.5%;
}
.center{
    display:inline-block;
    text-align:center;
}
@media print{
    .print{
        display: none;
    }
}

.blue{
    color: blue;
}
.orange{
    color: orangered;
}