<form id="deliveryForm" #deliveryForm="ngForm" (ngSubmit)="deliver(deliveryForm.value)">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100 margin">
                <mat-label>Milk Amount</mat-label>
                <input type="number" pattern="^\d*(\.\d{0,2})?$" matInput name="amount" ngModel #amount="ngModel" required>
                <span matSuffix>Ltrs.</span>
                <mat-hint>e.g. 25 or 75.50</mat-hint>
                <mat-error *ngIf="amount.hasError('required') || amount.pristine">
                    Amount is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="amount.hasError('pattern') || amount.pristine">
                    Use <strong>only two</strong> decimal places
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100 margin" floatLabel="always">
                <mat-label>Price Per Liter</mat-label>
                <input type="number" matInput name="price_pl" ngModel #price_pl="ngModel" required>
                <span matPrefix>Ksh.</span>
                <mat-hint>e.g. 25</mat-hint>
                <mat-error *ngIf="price_pl.hasError('required') || price_pl.pristine">
                    Price Per Liter is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100 margin">
                <mat-label>Delivered By</mat-label>
                <mat-hint>e.g. John</mat-hint>
                <input matInput name="delivered_by" ngModel #delivered_by="ngModel" required>
                <mat-error *ngIf="delivered_by.hasError('required') || delivered_by.pristine">
                    Your name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100 margin">
                <mat-label>Received From</mat-label>
                <mat-hint>e.g. John Doe</mat-hint>
                <input matInput name="received_from" ngModel #received_from="ngModel" required>
                <mat-error *ngIf="received_from.hasError('required') || received_from.pristine">
                    This field is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100 margin">
                <mat-label>Mobile Number</mat-label>
                <mat-hint>e.g. 254712345678</mat-hint>
                <input matInput [(ngModel)]="num" type="number" name="mobile" ngModel #mobile="ngModel" required>
                <mat-error *ngIf="mobile.hasError('required') || mobile.pristine">
                    Mobile No. is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100 margin">
                <mat-label>Location</mat-label>
                <mat-hint>e.g. Kaptembwo</mat-hint>
                <input matInput type="text" name="location" ngModel #location="ngModel" required>
                <mat-error *ngIf="location.hasError('required') || location.pristine">
                    Location is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <br>
    <div class="text-center">
        <button mat-raised-button color="accent" class="w-50" [disabled]="deliveryForm.invalid"><i class="fa-regular fa-paper-plane"></i> Submit</button>
    </div>
</form>